name: Unit Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test_ubuntu:
    runs-on: ubuntu-latest 
        
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: |
        python -m unittest

  test_windows:
    runs-on: windows-latest 
        
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: |
        python -m unittest
